{
    "**/*.{js,cjs,mjs,ts,jsx,tsx}": [
        "npx --no-install eslint --fix"
    ],
    "**/*.{markdown,md}": [
        "npx --no-install doctoc --github -u ."
    ],
    "**/*.{js,cjs,mjs,ts,jsx,tsx,less,scss,css,vue,markdown,json,md,yml,yaml,html}": [
        "npx --no-install prettier --write"
    ]
}
